.head
{
	background-color: skyblue;
	color: #000;
	font-weight: bolder;
	background-image:url('../images/1.jpeg');
}

.cen
{
	text-align: center;
	font-family: serif;
	color: #000;
}

.weight
{
	font-weight: bold;
}

.pt-30
{
	padding-top: 30px;
}

.mt-30
{
	margin-top: 30px;
}

.iconsize
{
	font-size: 80px;
}

.iconsmall
{
	font-size: 40px;
}

.red
{
	color: red;
}

a { 
	color: inherit; 

} 

a:hover {
 cursor:pointer;
}

.iblock
{
	display: inline-block;
}

.table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

.green
{
	color: green;
}

.blue
{
	color: blue;
}