.head
{
	background-color: skyblue;
	color: #000;
	font-weight: bolder;
}

.cen
{
	text-align: center;
	font-family: serif;
	color: #000;
}

.weight
{
	font-weight: bold;
}

.pt-30
{
	padding-top: 30px;
}

.mt-30
{
	margin-top: 30px;
}

.iconsize
{
	font-size:80px;
}

.red
{
	color: red;
}

a { 
	color: inherit; 

} 

a:hover {
 cursor:pointer;
}

.iblock
{
	display: inline-block;
}